@model List<Empleado>

<h1>Empleados LINQ</h1>


<div class="row">
    <a asp-controller="Empleados" asp-action="BuscadorEmpleados"
       class="btn btn-success mt-3">
        Buscador empleados
    </a>
    <a asp-controller="Empleados" asp-action="DatosEmpleados"
       class="btn btn-success mt-3">
        Empleados por oficio
    </a>
</div>

<ul class="list-group mt-3">
    @foreach (Empleado emp in Model)
    {
        <li class="list-group-item">
            @emp.Apellido - @emp.Oficio
            <a asp-controller="Empleados" asp-action="Details"
               asp-route-id="@emp.IdEmpleado" class="btn btn-sm btn-primary ms-4">
                Details
            </a>
        </li>
    }
</ul>